.card {
    border-radius: 15px;
    box-shadow: 0 0.1rem 1rem 0.1rem rgba(0,0,0,.05);
    max-width: 267px;
    width: 100%;
    margin: 0 5px;
    display: inline-block;
    cursor: pointer;
}

.card .card-image img{
  width: 100%;
  height: auto;
  object-fit: contain;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card .card-content {
    padding: 15px;
}

.card .card-content .card-heading p{
    color: #a8aaaf;
    font-size: 14px;
    white-space: initial;
    font-weight: 400;
}

.card .card-content .card-title p{
    color: #545663;
    font-weight: 600;
    font-size: 14px;
    margin: 5px 0px;
    white-space: initial;
}